openapi: 3.0.1
info:
  title: Collections
  version: OpenAPI3.1.0.4
servers:
- url: https://sandbox-us-api.experian.com/consumerservices/collections
paths:
  /v1/address-search:
    post:
      tags:
      - Consumer Services
      summary: Address Search
      description: 'Returns Address Search Report. Retrieves consumers associated
        with the specified address. Address Search allows clients to submit an address
        and receives up to 20 consumers associated with a submitted address; up to
        4 addresses, displayed in "best-ness" order, for each consumer; associated
        telephone numbers for all consumers and all names, addresses, Date of Birth(DOB),
        spouse information and aliases.<br><br> We are providing 10 test cases for
        client testing under "Examples" button below which include first 5 positive
        test cases and rest 5 negative test cases. Eg: Success_1, Failure_Invalid
        surname etc.'
      operationId: address-search
      parameters:
      - name: clientReferenceId
        in: header
        description: API client generated reference Id to uniquely identify the API
          request.
        schema:
          type: string
          default: SBMYSQL
          enum:
          - SBMYSQL
      - name: Content-Type
        in: header
        description: Input Request format
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: Accept
        in: header
        description: Output Response format
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      requestBody:
        description: Consumer's PII , Requestor Information, Addons and any custom
          options to be specified here.
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/addressSearchRequest'
            examples:   
              Request schema:   #Request schema
                value:
                  {
                    "address": {
                      "line1": "string",
                      "line2": "string",
                      "city": "string",
                      "state": "string",
                      "zipCode": "string"
                    },
                    "phone": [
                      {
                        "number": "string",
                        "type": "string"
                      }
                    ],
                    "requestor": {
                      "subscriberCode": "string"
                    },
                    "permissiblePurpose": {
                      "type": "string",
                      "terms": "string",
                      "abbreviatedAmount": "string"
                    },
                    "resellerInfo": {
                      "endUserName": "string"
                    },
                    "freezeOverride": {
                      "primaryApplFreezeOverrideCode": "string"
                    },
                    "vendorData": {
                      "vendorNumber": "string",
                      "vendorVersion": "string"
                    },
                    "addOns": {
                      "demographics": "string",
                      "fraudShield": "string"
                    },
                    "customOptions": {
                      "optionId": [
                        "string"
                      ]
                    }
                  }
                              
              Success_1:   # Example 1
                value:
                  address:
                    line1: 441 N HELIOTROPE DR
                    city: LOS ANGELES
                    state: CA
                    zipCode: '90004'
                  phone:
                    - number: 310.204.1846
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 0B
                  resellerInfo:
                    endUserName: FEATURESTC630310
                  addOns:
                    fraudShield: 'Y'
              Success_2:   # Example 2
                value:
                  address:
                    line1: '2022 QUEEN VICTORIA CT # 618'
                    city: LAWRENCEVILLE
                    state: GA
                    zipCode: '30043'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 4F
                  resellerInfo:
                    endUserName: NONRESELLER
                  addOns:
                    demographics: Only Phone
              Success_3:   # Example 3
                value:
                  address:
                    line1: PO BOX 17460
                    city: DENVER
                    state: CO
                    zipCode: 80217-0460
                  phone:
                    - number: 361.994.4400
                    - number: 361.994.9400
                  requestor:
                    subscriberCode: '2222222'
              Success_4:   # Example 4
                value:
                  address:
                    line1: 2111 SEALION DR APT 205
                    city: LAS VEGAS
                    state: NV
                    zipCode: 89128-6619
                  requestor:
                    subscriberCode: '2222222'
                  addOns:
                    fraudShield: 'Y'
              Success_5:   # Example 5
                value:
                  address:
                    line1: 1057 HAMANA STREET
                    city: EWA BEACH
                    state: HI
                    zipCode: '96706'
                  requestor:
                    subscriberCode: '2222222'
                  addOns:
                    demographics: Geocode and Phone
                    fraudShield: 'Y'
              Failure_Invalid CurrentAddress:   # Example 6
                value:
                  address:
                    line1: 441 N HELIOTROPE DR-
                    city: LOS ANGELES
                    state: CA
                    zipCode: '90004'
                  phone:
                    - number: 310.204.1846
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 0B
                  resellerInfo:
                    endUserName: FEATURESTC630310
                  addOns:
                    fraudShield: 'Y'
              Faiure_Internal System Error For invalid RM- Keyword:   # Example 7
                value:
                  address:
                    line1: '2022 QUEEN VICTORIA CT # 618'
                    line2: ''
                    city: LAWRENCEVILLE
                    state: GA
                    zipCode: '30043'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '000'
                    abbreviatedAmount: '010'
                  resellerInfo:
                    endUserName: NONRESELLER
                  addOns: {}
              Failure_Inquiry not allowed:   # Example 8
                value:
                  address:
                    line1: PO BOX 17460
                    city: DENVER
                    state: CO
                    zipCode: 80217-0460
                  phone:
                    - number: 361.994.9900
                    - number: 361.994.4455
                  requestor:
                    subscriberCode: '2222222'
                  addOns: {}
                                                     
              Failure_Internal Error for invalid INQUIRY TYPE keyword:   # Example 9
                value:
                  address:
                    line1: 2111 SEALION DR APT 205
                    city: LAS VEGAS
                    state: NV
                    zipCode: 89128-6619
                  requestor:
                    subscriberCode: '2222222'
                  addOns:
                    demographics: Geocode and Phone
                    fraudShield: 'Y'
                  customOptions:
                    optionId:
                      - ''
        required: true
      responses:
        200:
          description: API responds with a JSON.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/addressSearchResponse'
        400:
          description: Client Exception due to invalid data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Request Forbidden.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found Data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Server Related Error.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        504:
          description: Timeout.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /v1/address-update:
    post:
      tags:
      - Consumer Services
      summary: Address Update
      description: 'Retrieves Address Update Report. Address Update helps subscribers
        keep in touch with their customers by providing current addresses from Experian''s
        nation-wide, continuously updated database. Address Update provides a simple
        solution for the "no forwarding address" problem. The report also serves as
        a collections tool to help track down skipped accounts.<br><br> We are providing
        10 test cases for client testing under "Examples" button below which include
        first 5 positive test cases and rest 5 negative test cases. Eg: Success_1,
        Failure_Invalid surname etc.'
      operationId: AddressUpdate
      parameters:
      - name: clientReferenceId
        in: header
        description: 'API client generated reference Id to uniquely identify the API
          request. '
        schema:
          type: string
          default: SBMYSQL
          enum:
          - SBMYSQL
      - name: Content-Type
        in: header
        description: Input Request format
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: Accept
        in: header
        description: Output Response format
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      requestBody:
        description: Consumer's PII , Requestor Information, Addons and any custom
          options to be specified here.
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/addressUpdateRequest'
            examples:    
              Request schema:   #Request schema
                value:
                  {
                    "consumerPii": {
                      "primaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        },
                        "currentAddress": {
                          "line1": "string",
                          "line2": "string",
                          "city": "string",
                          "state": "string",
                          "zipCode": "string"
                        },
                        "previousAddress": [
                          {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        ]
                      },
                      "secondaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        }
                      }
                    },
                    "requestor": {
                      "subscriberCode": "string"
                    },
                    "permissiblePurpose": {
                      "type": "string",
                      "terms": "string",
                      "abbreviatedAmount": "string"
                    },
                    "resellerInfo": {
                      "endUserName": "string"
                    },
                    "freezeOverride": {
                      "primaryApplFreezeOverrideCode": "string",
                      "secondaryApplFreezeOverrideCode": "string"
                    },
                    "vendorData": {
                      "vendorNumber": "string",
                      "vendorVersion": "string"
                    },
                    "addOns": {
                      "directCheck": "string",
                      "demographics": "string",
                      "fraudShield": "string",
                      "ofacmsg": "string",
                      "consumerIdentCheck": {
                        "getUniqueConsumerIdentifier": "string",
                        "verifyPrimaryConsumerIdentifier": "string",
                        "verifySecondaryConsumerIdentifier": "string"
                      },
                      "joint": "string"
                    }
                  }
                  
              Success_1:   # Example 1
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: WALLS
                        firstName: LURLINE
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 8237 METCALF
                        city: KENOCKEE
                        state: MI
                        zipCode: '480062720'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 3F
                  resellerInfo:
                    endUserName: CRAPIV2TC2
                  addOns:
                    directCheck: 'Y'
                    fraudShield: 'Y'
              Success_2:   # Example 2
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: STEINERT
                        firstName: CHARLES
                        middleName: B
                      ssn:
                        ssn: 111-11-1111
                      currentAddress:
                        line1: RR 2 BOX 5
                        city: TAMAQUA
                        state: PA
                        zipCode: '18252'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '48'
                  resellerInfo:
                    endUserName: CRAPIV2TC2
                  addOns:
                    directCheck: 'Y'
                    fraudShield: 'Y'
              Success_3:   # Example 3
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: BULL
                        firstName: TERESA
                        middleName: M
                      ssn:
                        ssn: '111111111'
                      phone:
                        - number: '7148589993'
                      currentAddress:
                        line1: 421 LAKE
                        city: LEHIGH ACRES
                        state: FL
                        zipCode: '33972'
                      previousAddress:
                        - line1: RR 22
                          state: NY
                          city: ESSEX
                          zipCode: '12936'
                    secondaryApplicant:
                      name:
                        lastName: NOTIP-CONSUMER
                        firstName: IDENT
                        middleName: O
                      ssn:
                        ssn: 333-33-3333
                      driverslicense:
                        number: B6631234
                        state: CA
                      employment:
                        employerName: TEST
                  requestor:
                    subscriberCode: '2222222'
                  resellerInfo:
                    endUserName: CRAPIV2TC2
                  addOns:
                    fraudShield: 'Y'
                    joint: 'Y'
              Success_4:   # Example 4
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: REYNOLDS
                        firstName: ROBERTS
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 20 WINTER ST
                        city: MANCHESTER
                        state: CT
                        zipCode: '6040'
                      previousAddress:
                        - line1: 15 RACE BROOK ROAD
                          state: HA
                          city: W
                          zipCode: CT
                  requestor:
                    subscriberCode: '2222222'
                  resellerInfo:
                    endUserName: CRAPIV2TC2
                  addOns:
                    demographics: Geocode and Phone
                    fraudShield: 'Y'
              Success_5:   # Example 5
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: BESSER
                        firstName: WANG
                      dob:
                        dob: '1946'
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3009 BURTON AVE
                        city: LAS VEGAS
                        state: NV
                        zipCode: '891022068'
                  requestor:
                    subscriberCode: '2222222'
                  resellerInfo:
                    endUserName: CRAPIV2TC2
                  addOns:
                    directCheck: 'Y'
                    fraudShield: 'Y'
              Failure_Invalid CurrentAddress:   # Example 6
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: BOLTON
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: ' '
                        city: DECATUR
                        state: GA
                        zipCode: '30033'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 3F
                  resellerInfo:
                    endUserName: ABC1
                  
              Faiure_Internal System Error For invalid RM- Keyword:   # Example 7
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '010'
                    abbreviatedAmount: '010'
                  resellerInfo:
                    endUserName: ABC2
                                                       
              Failure_Inquiry not allowed:   # Example 8
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '10'
                    abbreviatedAmount: '10'
                  addOns:
                    directCheck: 'Y'
                  resellerInfo:
                    endUserName: ABC3
              Failure_Internal Error for invalid INQUIRY TYPE keyword:   # Example 9
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: '18'
                    terms: '010'
                    abbreviatedAmount: '010'
                  addOns:
                    demographics: Geocode and Phone
                  resellerInfo:
                    endUserName: ABC4
              Failure_Invalid surname:   # Example 10
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: '-'
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: 2965 ATTERBERRY CT
                        city: ' '
                        zipCode: ' '
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 3F
                  resellerInfo:
                    endUserName: ABC5
        required: true
      responses:
        200:
          description: API responds with a JSON.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/addressUpdateResponse'
        400:
          description: Client Exception due to invalid data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        403:
          description: Request Forbidden.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        404:
          description: Not found Data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        500:
          description: Server Related Error.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        504:
          description: Timeout.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /v1/collection-advantage:
    post:
      tags:
      - Consumer Services
      summary: Collection Advantage
      description: |-
        Collection Advantage is Experian's next generation information resource for the collection industry, one that uniquely combines credit-based scoring, consumer contact information and state-of-the-art analytical services. Designed for maximum flexibility, this all-in-one tool gives users quicker access to critical information for greater productivity and improved profits.
        Collection Advantage API provides customers with SSN search, deceased info, trade lines,ten addresses search.<br><br> We are providing 10 test cases for client testing under "Examples" button below which include first 5 positive test cases and rest 5 negative test cases. Eg: Success_1, Failure_Invalid surname etc.
      operationId: CollectionAdvantage
      parameters:
      - name: clientReferenceId
        in: header
        description: 'API client generated reference Id to uniquely identify the API
          request. '
        schema:
          type: string
          default: SBMYSQL
          enum:
          - SBMYSQL
      - name: Content-Type
        in: header
        description: Input Request format
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: Accept
        in: header
        description: Output Response format
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      requestBody:
        description: Consumer's PII , Requestor Information, Addons and any custom
          options to be specified here.
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/collectionAdvantageRequest'
            examples:    
              Request schema:   #Request schema
                value:
                  {
                    "consumerPii": {
                      "primaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        },
                        "currentAddress": {
                          "line1": "string",
                          "line2": "string",
                          "city": "string",
                          "state": "string",
                          "zipCode": "string"
                        },
                        "previousAddress": [
                          {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        ]
                      },
                      "secondaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        }
                      }
                    },
                    "requestor": {
                      "subscriberCode": "string"
                    },
                    "vendorId": "string",
                    "vendorVersionNumber": "string",
                    "resellerInfo": {
                      "endUserName": "string"
                    },
                    "customOptions": {
                      "optionId": [
                        "string"
                      ]
                    },
                    "infoCriteria": {
                      "experianIdentifier": {
                        "runDateTime": "string",
                        "recordId": "string",
                        "uniquerdxId": "string",
                        "uniqueBatchId": "string"
                      },
                      "clientAccountId": "string",
                      "permissiblePurpose": "string",
                      "clientPackage": "string",
                      "fileOneData": {
                        "includeEDAPhoneSearch": "string",
                        "includeUSPSNCOASearch": "string",
                        "includeFileOneFraudSearch": "string",
                        "SSN": "string",
                        "bestNameAddr": "string",
                        "deceased": "string",
                        "fileOnePhones": "string",
                        "employment": "string",
                        "modelScore1": "string",
                        "modelScore2": "string",
                        "modelScore3": "string",
                        "modelScore4": "string",
                        "modelScore5": "string",
                        "creditAttributes": "string",
                        "bankruptcyInfo": "string",
                        "addLNames": "string",
                        "driverLicense": "string",
                        "premierStaggCollectionAttribute": "string"
                      },
                      "metronet": "string",
                      "optionalClientData": {
                        "consumerAreaCode": "string",
                        "consumer7Digit": "string",
                        "consumerAreaCode1": "string",
                        "consumer7Digit1": "string",
                        "consumerAreaCode2": "string",
                        "consumer7Digit2": "string",
                        "onfilePhoneCriticalDate": "string",
                        "clientDefined1": "string",
                        "clientDefined2": "string",
                        "balanceAmount": "string",
                        "accountOpenDate": "string",
                        "clientDefined3": "string",
                        "clientDefined4": "string",
                        "clientDefined5": "string",
                        "clientDefined6": "string"
                      }
                    }
                  }
              Success_1:   # Example 1
                value:
                  {
                    "consumerPii": {
                        "primaryApplicant": {
                            "name": {
                                "lastName": "CANN",
                                "firstName": "JOHN",
                                "middleName": "N"
                            },
                            "dob": {
                                "dob": "1955"
                            },
                            "ssn": {
                                "ssn": "111111111"
                            },
                            "currentAddress": {
                                "line1": "510 MONDRE ST",
                                "city": "MICHIGAN CITY",
                                "state": "IN",
                                "zipCode": "46360"
                            }
                        }
                    },
                    "requestor": {
                        "subscriberCode": "2222222"
                    },
                    "infoCriteria": {
                        "experianIdentifier": {
                            "runDateTime": "2007103",
                            "recordId": "2"
                        },
                        "clientAccountId": "2",
                        "permissiblePurpose": "4C",
                        "clientPackage": "I1",
                        "fileOneData": {
                            "includeEDAPhoneSearch": "2",
                            "includeUSPSNCOASearch": "Y",
                            "includeFileOneFraudSearch": "Y",
                            "SSN": "2",
                            "bestNameAddr": "2",
                            "deceased": "Y",
                            "fileOnePhones": "2",
                            "employment": "1",
                            "modelScore1": "R",
                            "modelScore2": "W",
                            "modelScore3": "RA",
                            "creditAttributes": "B",
                            "addLNames": "Y",
                            "driverLicense": "Y"
                        },
                        "metronet": "2",
                        "optionalClientData": {
                            "consumerAreaCode": "360",
                            "consumer7Digit": "8825137",
                            "consumerAreaCode1": "503",
                            "consumer7Digit1": "2219597",
                            "consumerAreaCode2": "503",
                            "consumer7Digit2": "5049597",
                            "onfilePhoneCriticalDate": "20070307"
                        }
                    }
                }                  
              Success_2:   # Example 2
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: ARMSTRONG
                        firstName: KARL
                        middleName: E
                      dob:
                        dob: '1959'
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 1073 BUCKINGHAM DR
                        city: CAROL STREAM
                        state: IL
                        zipCode: '60188'
                  requestor:
                    subscriberCode: '2222222'
                  infoCriteria:
                    experianIdentifier:
                      runDateTime: '2007103'
                      recordId: '9'
                    clientAccountId: '9'
                    permissiblePurpose: 4C
                    clientPackage: I1
                    fileOneData:
                      includeEDAPhoneSearch: '1'
                      includeUSPSNCOASearch: 'Y'
                      includeFileOneFraudSearch: 'Y'
                      SSN: '1'
                      bestNameAddr: '1'
                      deceased: 'Y'
                      fileOnePhones: '1'
                      employment: '1'
                      creditAttributes: B
                      bankruptcyInfo: 'Y'
                      addLNames: 'Y'
                      driverLicense: 'Y'
                    metronet: '3'
                    optionalClientData:
                      consumerAreaCode: '315'
                      consumer7Digit: '4269835'
                      consumerAreaCode1: '315'
                      consumer7Digit1: '4734509'
                      onfilePhoneCriticalDate: '20070112'
              Success_3:   # Example 3
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: NATIUIDAD
                        firstName: KATHLEEN
                        middleName: K
                      dob:
                        dob: '1959'
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3878 DAKLAWN AVE
                        city: DALLAS
                        state: TX
                        zipCode: '75219'
                  requestor:
                    subscriberCode: '2222222'
                  infoCriteria:
                    experianIdentifier:
                      runDateTime: '2007103'
                      recordId: '10'
                    clientAccountId: '10'
                    permissiblePurpose: 4C
                    clientPackage: I1
                    fileOneData:
                      includeEDAPhoneSearch: '2'
                      includeUSPSNCOASearch: 'Y'
                      includeFileOneFraudSearch: 'Y'
                      SSN: '2'
                      bestNameAddr: '2'
                      deceased: 'Y'
                      fileOnePhones: '2'
                      employment: '1'
                      modelScore1: B
                      modelScore2: H
                      modelScore3: K
                      creditAttributes: B
                      addLNames: 'Y'
                      driverLicense: 'Y'
                    metronet: '1'
                    optionalClientData:
                      consumerAreaCode: '360'
                      consumer7Digit: '2404505'
                      consumerAreaCode1: '360'
                      consumer7Digit1: '4795143'
                      consumerAreaCode2: '360'
                      consumer7Digit2: '7495143'
                      onfilePhoneCriticalDate: '20000220'
              Success_4:   # Example 4
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: WALLS
                        firstName: LURLINE
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 8237 METCALF
                        city: KENOCKEE
                        state: MI
                        zipCode: '480062720'
                  requestor:
                    subscriberCode: '2222222'
                  infoCriteria:
                    experianIdentifier:
                      runDateTime: '2007103'
                      recordId: '11'
                    clientAccountId: '11'
                    permissiblePurpose: 4C
                    clientPackage: I1
                    fileOneData:
                      includeEDAPhoneSearch: '3'
                      includeUSPSNCOASearch: 'Y'
                      includeFileOneFraudSearch: 'Y'
                      SSN: '3'
                      bestNameAddr: '1'
                      deceased: 'Y'
                      fileOnePhones: '3'
                      employment: '1'
                      modelScore1: B
                      modelScore2: H
                      modelScore3: K
                      creditAttributes: B
                      bankruptcyInfo: 'Y'
                      driverLicense: 'Y'
                    metronet: '2'
                    optionalClientData:
                      consumerAreaCode: '360'
                      consumer7Digit: '3521649'
                      consumerAreaCode1: '619'
                      consumer7Digit1: '6926964'
                      onfilePhoneCriticalDate: '20060720'
                  
              Success_5:   # Example 5
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: REYNOLDS
                        firstName: ROBERTS
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 20 WINTER ST
                        city: MANCHESTER
                        state: CT
                        zipCode: '6040'
                      previousAddress:
                        - line1: 15 RACE BROOK ROAD
                          state: HA
                          city: W
                          zipCode: CT
                  requestor:
                    subscriberCode: '2222222'
                  infoCriteria:
                    experianIdentifier:
                      runDateTime: '2007103'
                      recordId: '12'
                    clientAccountId: '12'
                    permissiblePurpose: 4C
                    clientPackage: I1
                    fileOneData:
                      SSN: '1'
                      bestNameAddr: '1'
                      fileOnePhones: '1'
                      modelScore1: B
                      modelScore2: H
                      modelScore3: K
                      creditAttributes: B
                      addLNames: 'Y'
                      driverLicense: 'Y'
                    metronet: '3'
                    optionalClientData:
                      consumerAreaCode: '508'
                      consumer7Digit: '6275509'
                      consumerAreaCode1: '508'
                      consumer7Digit1: '6451021'
                      consumerAreaCode2: '508'
                      consumer7Digit2: '6451680'
                      onfilePhoneCriticalDate: '20061029'
              Failure_Invalid CurrentAddress:   # Example 6
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: BOLTON
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: ' '
                        city: DECATUR
                        state: GA
                        zipCode: '30033'
                  requestor:
                    subscriberCode: '2222222'
                  infoCriteria:
                    experianIdentifier:
                      runDateTime: '2007103'
                      recordId: '2'
                    clientAccountId: '2'
                    permissiblePurpose: 4C
                    clientPackage: I1
                    fileOneData:
                      includeEDAPhoneSearch: '2'
                      includeUSPSNCOASearch: 'Y'
                      includeFileOneFraudSearch: 'Y'
                      SSN: '2'
                      bestNameAddr: '2'
                      deceased: 'Y'
                      fileOnePhones: '2'
                      employment: '1'
                      modelScore1: R
                      modelScore2: W
                      modelScore3: RA
                      creditAttributes: B
                      addLNames: 'Y'
                      driverLicense: 'Y'
                    metronet: '2'
                    optionalClientData:
                      consumerAreaCode: '360'
                      consumer7Digit: '8825137'
                      consumerAreaCode1: '503'
                      consumer7Digit1: '2219597'
                      consumerAreaCode2: '503'
                      consumer7Digit2: '5049597'
                      onfilePhoneCriticalDate: '20070307'
              Faiure_Internal System Error For invalid RM- Keyword:   # Example 7
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  infoCriteria:
                    experianIdentifier:
                      runDateTime: '2007103'
                      recordId: '2'
                    clientAccountId: '2'
                    permissiblePurpose: 4C
                    clientPackage: I1
                    fileOneData:
                      includeEDAPhoneSearch: '2'
                      includeUSPSNCOASearch: 'Y'
                      includeFileOneFraudSearch: 'Y'
                      SSN: '2'
                      bestNameAddr: '2'
                      deceased: 'Y'
                      fileOnePhones: '2'
                      employment: '1'
                      modelScore1: R
                      modelScore2: W
                      modelScore3: RA
                      creditAttributes: B
                      addLNames: 'Y'
                      driverLicense: 'Y'
                    metronet: '2'
                    optionalClientData:
                      consumerAreaCode: '360'
                      consumer7Digit: '8825137'
                      consumerAreaCode1: '503'
                      consumer7Digit1: '2219597'
                      consumerAreaCode2: '503'
                      consumer7Digit2: '5049597'
                      onfilePhoneCriticalDate: '20070307'
                                                       
              Failure_Inquiry not allowed:   # Example 8
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: AVE
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  infoCriteria:
                    experianIdentifier:
                      runDateTime: '2007103'
                      recordId: '2'
                    clientAccountId: '2'
                    permissiblePurpose: 4C
                    clientPackage: I1
                    fileOneData:
                      includeEDAPhoneSearch: '2'
                      includeUSPSNCOASearch: 'Y'
                      includeFileOneFraudSearch: 'Y'
                      SSN: '2'
                      bestNameAddr: '2'
                      deceased: 'Y'
                      fileOnePhones: '2'
                      employment: '1'
                      modelScore1: R
                      modelScore2: W
                      modelScore3: RA
                      creditAttributes: B
                      addLNames: 'Y'
                      driverLicense: 'Y'
                    metronet: '2'
                    optionalClientData:
                      consumerAreaCode: '360'
                      consumer7Digit: '8825137'
                      consumerAreaCode1: '503'
                      consumer7Digit1: '2219597'
                      consumerAreaCode2: '503'
                      consumer7Digit2: '5049597'
                      onfilePhoneCriticalDate: '20070307'
              Failure_Internal Error for invalid INQUIRY TYPE keyword:   # Example 9
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  requestor:
                    subscriberCode: '2222222'
                  infoCriteria:
                    experianIdentifier:
                      runDateTime: '2007103'
                      recordId: '7'
                    clientAccountId: '7'
                    permissiblePurpose: 4C
                    clientPackage: I1
                    fileOneData:
                      includeEDAPhoneSearch: '3'
                      includeUSPSNCOASearch: 'Y'
                      includeFileOneFraudSearch: 'Y'
                      SSN: '3'
                      bestNameAddr: '1'
                      deceased: 'Y'
                      fileOnePhones: '3'
                      employment: '1'
                      modelScore1: RA
                      modelScore2: '5'
                      modelScore3: F
                      modelScore4: J
                      modelScore5: 'N'
                      creditAttributes: B
                      bankruptcyInfo: 'Y'
                      driverLicense: 'Y'
                    metronet: '1'
                    optionalClientData:
                      consumerAreaCode: '707'
                      consumer7Digit: '2249107'
                      onfilePhoneCriticalDate: '20060320'
              Failure_Invalid surname:   # Example 10
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: '-'
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: 2965 ATTERBERRY CT
                        city: ' '
                        zipCode: ' '
                  requestor:
                    subscriberCode: '2222222'
                  infoCriteria:
                    experianIdentifier:
                      runDateTime: '2007103'
                      recordId: '7'
                    clientAccountId: '7'
                    permissiblePurpose: 4C
                    clientPackage: I1
                    fileOneData:
                      includeEDAPhoneSearch: '3'
                      includeUSPSNCOASearch: 'Y'
                      includeFileOneFraudSearch: 'Y'
                      SSN: '3'
                      bestNameAddr: '1'
                      deceased: 'Y'
                      fileOnePhones: '3'
                      employment: '1'
                      modelScore1: RA
                      modelScore2: '5'
                      modelScore3: F
                      modelScore4: J
                      modelScore5: 'N'
                      creditAttributes: B
                      bankruptcyInfo: 'Y'
                      driverLicense: 'Y'
                    metronet: '1'
                    optionalClientData:
                      consumerAreaCode: '707'
                      consumer7Digit: '2249107'
                      onfilePhoneCriticalDate: '20060320'
                  
        required: true
      responses:
        200:
          description: API responds with a JSON.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/collectionAdvIntResponse'
        400:
          description: Client Exception due to invalid data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailer'
        403:
          description: Request Forbidden.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailer'
        404:
          description: Not found Data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailer'
        500:
          description: Server Related Error.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailer'
        504:
          description: Timeout.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailer'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
  /v1/collection-report:
    post:
      tags:
      - Consumer Services
      summary: Collection Report
      description: |2-

        Collection Reports are a group of customized versions of the credit report designed specifically for use in collections.  The reports are primarily used for skip tracing (locating the debtor) with a secondary emphasis on actual debt collection and prioritizing which accounts to pursue first.  The reports provide comprehensive data in an easy-to-read format, helping reduce the labor and paper-intensive nature of the collection process. <br><br> We are providing 10 test cases for client testing under "Examples" button below which include first 7 positive test cases and rest 3 negative test cases. Eg: Success_1, Failure_Invalid surname etc.
      operationId: CollectionReport
      parameters:
      - name: clientReferenceId
        in: header
        description: 'API client generated reference Id to uniquely identify the API
          request. '
        schema:
          type: string
          default: SBMYSQL
          enum:
          - SBMYSQL
      - name: Content-Type
        in: header
        description: Input Request format
        required: true
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      - name: Accept
        in: header
        description: Output Response format
        schema:
          type: string
          default: application/json
          enum:
          - application/json
      requestBody:
        description: Consumer's PII , Requestor Information, Addons and any custom
          options to be specified here.
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/collectionReportRequest'
            examples:    
              Request schema:   #Request schema
                value:
                  {
                    "consumerPii": {
                      "primaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        },
                        "currentAddress": {
                          "line1": "string",
                          "line2": "string",
                          "city": "string",
                          "state": "string",
                          "zipCode": "string"
                        },
                        "previousAddress": [
                          {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        ]
                      },
                      "secondaryApplicant": {
                        "name": {
                          "lastName": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "generationCode": "string"
                        },
                        "dob": {
                          "dob": "string"
                        },
                        "ssn": {
                          "ssn": "string"
                        },
                        "driverslicense": {
                          "number": "string",
                          "state": "string"
                        },
                        "phone": [
                          {
                            "number": "string",
                            "type": "string"
                          }
                        ],
                        "employment": {
                          "employerName": "string",
                          "employerAddress": {
                            "line1": "string",
                            "line2": "string",
                            "city": "string",
                            "state": "string",
                            "zipCode": "string"
                          }
                        }
                      }
                    },
                    "outputType": "string",
                    "reportType": "string",
                    "requestor": {
                      "subscriberCode": "string"
                    },
                    "permissiblePurpose": {
                      "type": "string",
                      "terms": "string",
                      "abbreviatedAmount": "string"
                    },
                    "resellerInfo": {
                      "endUserName": "string"
                    },
                    "vendorData": {
                      "vendorNumber": "string",
                      "vendorVersion": "string"
                    },
                    "addOns": {
                      "directCheck": "string",
                      "demographics": "string",
                      "riskModels": {
                        "modelIndicator": [
                          "string"
                        ],
                        "scorePercentile": "string"
                      },
                      "summaries": {
                        "summaryType": [
                          "string"
                        ]
                      },
                      "fraudShield": "string",
                      "newConsumer": "string",
                      "facsPlus": "string",
                      "joint": "string",
                      "ofacmsg": "string",
                      "paymentHistory84": "string"
                    },
                    "customOptions": {
                      "optionId": [
                        "string"
                      ]
                    }
                  }
              Success_1:   # Example 1
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: CANN
                        firstName: JOHN
                      currentAddress:
                        line1: 510 MONDRE ST
                        city: MICHIGAN CITY
                        state: IN
                        zipCode: '46360'
                  outputType: TTY
                  reportType: StandardCollectionReport
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 6D
                  
              Success_2:   # Example 2
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: ARMSTRONG
                        firstName: KARL
                      currentAddress:
                        line1: 1073 BUCKINGHAM DR
                        city: CAROL STREAM
                        state: IL
                        zipCode: '60188'
                  outputType: TTY
                  reportType: CollectionCreditReport
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 6D
                  addOns:
                    riskModels:
                      modelIndicator:
                        - F
                        - AA
                    fraudShield: 'Y'
                    newConsumer: 'N'
                    facsPlus: 'N'
                    joint: 'N'
                    ofacmsg: 'Y'
                    paymentHistory84: 'Y'
                  
              Success_3:   # Example 3
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: ARMSTRONG
                        firstName: KARL
                        middleName: E
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 1073 BUCKINGHAM DR
                        city: CAROL STREAM
                        state: IL
                        zipCode: '60188'
                  outputType: JSON
                  reportType: StandardCollectionReport
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 6D
                  addOns:
                    riskModels:
                      modelIndicator:
                        - F
                    newConsumer: 'Y'
                    facsPlus: 'Y'
                    paymentHistory84: 'Y'
                  customOptions:
                    optionId:
                      - COADEX
                  
              Success_4:   # Example 4
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: NATIUIDAD
                        firstName: KATHLEEN
                        middleName: K
                      dob:
                        dob: '1959'
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3878 DAKLAWN AVE
                        city: DALLAS
                        state: TX
                        zipCode: '75219'
                    secondaryApplicant:
                      name:
                        lastName: JAY
                        firstName: JUDY
                        generationCode: II
                      ssn:
                        ssn: '333333333'
                  requestor:
                    subscriberCode: '2222222'
                  outputType: PARALLELPROFILE
                  reportType: CollectionCreditReport
                  permissiblePurpose:
                    type: 6D
                  addOns:
                    riskModels:
                      modelIndicator:
                        - F
                  
              Success_5:   # Example 5
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: WALLS
                        firstName: LURLINE
                      currentAddress:
                        line1: 8237 METCALF
                        city: KENOCKEE
                        state: MI
                        zipCode: '480062720'
                  outputType: TTY
                  reportType: CustomCollectionReport
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 6D
                  addOns:
                    riskModels:
                      modelIndicator:
                        - F
                    newConsumer: 'Y'
                    facsPlus: 'Y'
                    paymentHistory84: 'Y'
                  customOptions:
                    optionId:
                      - COADEX
                  
              Success_6:   # Example 6
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: CONNER
                        firstName: MARIO
                        middleName: D
                      dob:
                        dob: '1959'
                      currentAddress:
                        line1: 1128 ELLEN DR
                        city: DEER PARK
                        state: TX
                        zipCode: '77536'
                  outputType: ARF
                  reportType: StandardCollectionReport
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 6D
                  
              Success_7:   # Example 7
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: BOWER
                        firstName: EDDIE
                      dob:
                        dob: '1962'
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: '124 ORANGE HILL STR #7'
                        city: ORANGE
                        state: CA
                        zipCode: '92869'
                  outputType: PARALLELPROFILE
                  reportType: StandardCollectionReport
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 6D
                                                       
              Failure_Invalid CurrentAddress:   # Example 8
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: BOLTON
                        firstName: PEGGY
                      dob:
                        dob: '1948'
                      ssn:
                        ssn: '111111111'
                      phone:
                        - type: T
                          number: 555-673-1001
                      currentAddress:
                        line1: ' '
                        city: DECATUR
                        state: GA
                        zipCode: '30033'
                  outputType: TTY
                  reportType: CustomCollectionReport
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 6D
                  addOns:
                    riskModels:
                      modelIndicator:
                        - F
                    newConsumer: 'Y'
                    facsPlus: 'Y'
                    paymentHistory84: 'Y'
                  customOptions:
                    optionId:
                      - COADEX
                                                     
              Failure_Inquiry not allowed:   # Example 9
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  outputType: PARALLELPROFILE
                  reportType: CollectionCreditReport
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 6D
                  addOns:
                    riskModels:
                      modelIndicator:
                        - F
                    newConsumer: 'Y'
                    facsPlus: 'Y'
                    paymentHistory84: 'Y'
                  customOptions:
                    optionId:
                      - COADEX
                     
              Failure_Internal Error for invalid INQUIRY TYPE keyword:   # Example 10
                value:
                  consumerPii:
                    primaryApplicant:
                      name:
                        lastName: COLLINS
                        firstName: DANIEL
                      dob:
                        dob: 04181961
                      ssn:
                        ssn: '111111111'
                      currentAddress:
                        line1: 3064 WOLFE DR
                        line2: ''
                        city: FAIRBORN
                        state: OH
                        zipCode: 45324-2140
                      previousAddress:
                        - line1: 836 WASHINGTON AVE
                          line2: ''
                          city: FAIRBORN
                          state: OH
                          zipCode: '453243840'
                  outputType: JSON
                  reportType: StandardCollectionReport
                  requestor:
                    subscriberCode: '2222222'
                  permissiblePurpose:
                    type: 6D
                  addOns:
                    riskModels:
                      modelIndicator:
                        - F
                        - AA
                    fraudShield: 'Y'
                    newConsumer: 'N'
                    facsPlus: 'N'
                    joint: 'N'
                    ofacmsg: 'Y'
                    paymentHistory84: 'Y'
                  
        required: true
      responses:
        200:
          description: API responds with a JSON.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/collectionReportResponse'
        400:
          description: Client Exception due to invalid data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailer'
        403:
          description: Request Forbidden.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailer'
        404:
          description: Not found Data.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailer'
        500:
          description: Server Related Error.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailer'
        504:
          description: Timeout.
          headers:
            experianTransactionId:
              description: Unique ID generated by Experian for this API request
              schema:
                type: string
            clientReferenceId:
              description: Echo back of the reference Id , if provided on API request
                header
              schema:
                type: string
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ErrorResponseWithHeaderTrailer'
      security:
      - OauthSecurity:
        - user
      x-codegen-request-body-name: body
components:
  schemas:
    collectionAdvantageRequest:
      required:
      - consumerPii
      - infoCriteria
      - requestor
      type: object
      properties:
        consumerPii:
          $ref: '#/components/schemas/PII'
        requestor:
          $ref: '#/components/schemas/Requestor'
        vendorId:
          type: string
          description: Length 3 optional.
        vendorVersionNumber:
          type: string
          description: Length 6 optional.
        resellerInfo:
          $ref: '#/components/schemas/Reseller'
        customOptions:
          $ref: '#/components/schemas/CustomOptions'
        infoCriteria:
          $ref: '#/components/schemas/InfoCriteria'
      description: Collection Advantage Request Body
    addressSearchRequest:
      required:
      - address
      - permissiblePurpose
      - requestor
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        phone:
          type: array
          items:
            $ref: '#/components/schemas/Phone'
        requestor:
          $ref: '#/components/schemas/Requestor'
        permissiblePurpose:
          $ref: '#/components/schemas/PermissiblePurpose'
        resellerInfo:
          $ref: '#/components/schemas/Reseller'
        freezeOverride:
          $ref: '#/components/schemas/freezeoverride'
        vendorData:
          $ref: '#/components/schemas/vendorData'
        addOns:
          $ref: '#/components/schemas/addons'
        customOptions:
          $ref: '#/components/schemas/CustomOptions'
      description: Request payload to retrieve a MLA Standalone profile
    addressUpdateRequest:
      type: object
      properties:
        consumerPii:
          $ref: '#/components/schemas/PII'
        requestor:
          $ref: '#/components/schemas/Requestor'
        permissiblePurpose:
          $ref: '#/components/schemas/PermissiblePurpose'
        resellerInfo:
          $ref: '#/components/schemas/Reseller'
        freezeOverride:
          $ref: '#/components/schemas/FreezeOverride'
        vendorData:
          $ref: '#/components/schemas/vendorData'
        addOns:
          $ref: '#/components/schemas/AddonsADRUpdate'
      description: Address Update Request Body
    collectionReportRequest:
      type: object
      properties:
        consumerPii:
          $ref: '#/components/schemas/PII'
        outputType:
          type: string
          description: outputType assigned by Experian
        reportType:
          type: string
          description: reportType assigned by Experian
        requestor:
          $ref: '#/components/schemas/Requestor'
        permissiblePurpose:
          $ref: '#/components/schemas/PermissiblePurpose'
        resellerInfo:
          $ref: '#/components/schemas/Reseller'
        vendorData:
          $ref: '#/components/schemas/vendorData'
        addOns:
          $ref: '#/components/schemas/AddonsCollRep'
        customOptions:
          $ref: '#/components/schemas/CustomOptions'
      description: Collection Report Request Body
    InfoCriteria:
      required:
      - experianIdentifier
      type: object
      properties:
        experianIdentifier:
          $ref: '#/components/schemas/Experianidentifier'
        clientAccountId:
          type: string
          description: Client account number.Length 30
        permissiblePurpose:
          type: string
          description: 2H = Collections use this unless otherwise specified 4C = Credit
            Valuation & Risk Assessment Length 2.
        clientPackage:
          type: string
          description: 1A - Best Name & Address; File One Phones; Place of Employment;
            33 Credit Attributes; RecoveryScore-Retail 1B - Best Name & Address; File
            One Phones; Place of Employment; 33 Credit Attributes; RecoveryScore-Bankcard
            2A - (Phones Only)File One Phones; MetroNet Phones; EDA; Change of Address,
            NCOA Optional 3A - Pkg. 1A, plus MetroNet Phones; EDA; Change of Address,
            NCOA Optional 3B - Pkg. 1B, plus MetroNet Phones; EDA; Change of Address,
            NCOA Optional EZ - SSN Append, Best Name and Address w/ Demo, Deceased
            Information, File One Phones, POE, Recovery Score-Retail, Recovery Score-Bankcard,
            33 Collection Attributes, BK information,  MetroNet Phones, EDA, Change
            of Address, NCOA Optional WB - Best Name & Address, Place of Employment,
            33 Attributes, RecoveryScore-Bankcard, Waterfall (MetroNet/EDA/File One
            Phones) with Change of Address, NCOA Optional WR - Best Name & Address,  Place
            of Employment, 33 Attributes, RecoveryScore-Retail, Waterfall (MetroNet/EDA/File
            One Phones) with Change of Address, NCOA Optional For custom pkgs, enter
            the 2 byte pkg code from above. Length 2.
        fileOneData:
          $ref: '#/components/schemas/FileOneData'
        metronet:
          type: string
          description: provides metronet phones and address info Length 1
        optionalClientData:
          $ref: '#/components/schemas/Optionalclientdata'
      description: Collection Advantage Request Body
    PII:
      required:
      - primaryApplicant
      type: object
      properties:
        primaryApplicant:
          $ref: '#/components/schemas/PrimaryApplicant'
        secondaryApplicant:
          $ref: '#/components/schemas/SecondaryApplicant'
      description: Personally Identifiable Information
    collectionAdvantageResp:
      type: object
      properties:
        recordFormatIdentifier:
          type: string
          description: Four layouts client can requestt. CA1B,CARR,CADD,CAV2.CA1B
            and CARR have the same layout.Length 4. Begining at position 1.This is
            the first field in the request. CA1B & CARR -- 5500 bytes output CARR
            - 6500 bytes output CAV2 - 7700 bytes output
        recordLength:
          type: string
          description: Input value = 0500 Output value = 5500. Length 4
        experianIdentifier:
          $ref: '#/components/schemas/Experianidentifier'
        standardOutput:
          $ref: '#/components/schemas/StandardOutput'
        ssnInformation:
          $ref: '#/components/schemas/SSNInformation'
        bestNameAndAddressInformation:
          $ref: '#/components/schemas/BestNameAndAddressInformation'
        ssnDeceased:
          $ref: '#/components/schemas/SSNDeceased'
        fileOnePhones:
          $ref: '#/components/schemas/FileOnePhones'
        employment:
          $ref: '#/components/schemas/EmploymentDis'
        modelScores:
          $ref: '#/components/schemas/ModelScores'
        creditAttributes:
          $ref: '#/components/schemas/CreditAttributesDis'
        secondEmployment:
          $ref: '#/components/schemas/SecondEmployment'
        bankruptcyInformation:
          $ref: '#/components/schemas/BankruptcyInformation'
        additionalNamesPriorAddresses:
          $ref: '#/components/schemas/AdditionalNamesPriorAddresses'
        driverLicense:
          $ref: '#/components/schemas/DriverLicenseDis'
        fcraAttributes:
          $ref: '#/components/schemas/FCRAAttributes'
        addlAttributes:
          $ref: '#/components/schemas/AddlAttributes'
        openTrades:
          $ref: '#/components/schemas/OpenTrades'
        mostRecentInquiries:
          $ref: '#/components/schemas/MostRecentInquiries'
        metroNet:
          $ref: '#/components/schemas/MetroNet'
    Optionalclientdata:
      type: object
      properties:
        consumerAreaCode:
          type: string
          description: Client-supplied  input phone 1 (area code) optional Length
            3
        consumer7Digit:
          type: string
          description: Client-supplied  input phone 1 optional Length 7
        consumerAreaCode1:
          type: string
          description: Client-supplied  input phone 1 (area code) optional Length
            3
        consumer7Digit1:
          type: string
          description: Client-supplied  input phone 1 optional Length 7
        consumerAreaCode2:
          type: string
          description: Client-supplied  input phone 1 (area code) optional Length
            3
        consumer7Digit2:
          type: string
          description: Client-supplied  input phone 1 optional Length 7
        onfilePhoneCriticalDate:
          type: string
          description: CCYYMMDD  - Client-supplied date - Compare on-file date to
            this date and append phones if unique & on-file date is more recent) Length
            3
        clientDefined1:
          type: string
          description: optional
        clientDefined2:
          type: string
          description: optional
        balanceAmount:
          type: string
          description: optional
        accountOpenDate:
          type: string
          description: optional
        clientDefined3:
          type: string
          description: optional
        clientDefined4:
          type: string
          description: optional
        clientDefined5:
          type: string
          description: optional
        clientDefined6:
          type: string
          description: optional
      description: Optional client input data
    collectionAdvIntResponse:
      type: object
      properties:
        collectionAdvantageInteractive:
          $ref: '#/components/schemas/collectionAdvRespData'
    PrimaryApplicant:
      required:
      - currentAddress
      - name
      type: object
      properties:
        name:
          $ref: '#/components/schemas/PAName'
        dob:
          $ref: '#/components/schemas/DOB'
        ssn:
          $ref: '#/components/schemas/SSN'
        driverslicense:
          $ref: '#/components/schemas/DriverLicense'
        phone:
          type: array
          items:
            $ref: '#/components/schemas/Phone'
        employment:
          $ref: '#/components/schemas/Employment'
        currentAddress:
          $ref: '#/components/schemas/Address'
        previousAddress:
          type: array
          items:
            $ref: '#/components/schemas/Address'
      description: Primary Applicant Information
    collectionAdvRespData:
      type: object
      properties:
        headerRecord:
          $ref: '#/components/schemas/headerRecord'
        addressInformation:
          type: array
          description: Best Consumer Addresses
          items:
            $ref: '#/components/schemas/addressInformationResp'
        consumerAssistanceReferralAddress:
          $ref: '#/components/schemas/consumerAssistanceReferralAddress'
        consumerIdentity:
          $ref: '#/components/schemas/consumerIdentity'
        directCheck:
          $ref: '#/components/schemas/directCheck'
        employmentInformation:
          $ref: '#/components/schemas/employmentInformation'
        fraudShield:
          $ref: '#/components/schemas/fraudShield'
        informationalMessage:
          $ref: '#/components/schemas/informationalMessagefordaas'
        inquiry:
          $ref: '#/components/schemas/inquiry'
        mla:
          $ref: '#/components/schemas/mlaResp'
        ofac:
          $ref: '#/components/schemas/ofacResp'
        summaries:
          $ref: '#/components/schemas/summaries'
        publicRecord:
          $ref: '#/components/schemas/publicRecord'
        riskModel:
          $ref: '#/components/schemas/riskModel'
        ssn:
          $ref: '#/components/schemas/ssn'
        statement:
          $ref: '#/components/schemas/statement'
        tradeline:
          $ref: '#/components/schemas/tradeline'
        uniqueConsumerIdentifier:
          $ref: '#/components/schemas/uniqueConsumerIdentifier'
        collectionAdvantage:
          $ref: '#/components/schemas/collectionAdvantageResp'
        endTotals:
          $ref: '#/components/schemas/endTotals'
    SecondaryApplicant:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/SAName'
        dob:
          $ref: '#/components/schemas/DOB'
        ssn:
          $ref: '#/components/schemas/SSN'
        driverslicense:
          $ref: '#/components/schemas/DriverLicense'
        phone:
          type: array
          items:
            $ref: '#/components/schemas/Phone'
        employment:
          $ref: '#/components/schemas/Employment'
      description: Secondary Applicant Information
    inquiry:
      type: array
      description: Onfile Inquiries for the consumer.
      items:
        $ref: '#/components/schemas/inquiryResp'
    consumerAssistanceReferralAddress:
      type: object
      properties:
        cityStateZip:
          type: string
          description: CRS City, State, ZIP.
        officeName:
          type: string
          description: Name of CRS Office
        phone:
[...]
